@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-transform: capitalize;
  transition: all .2s linear;
}

.container1{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:25px;
  min-height: 100vh;
  background: linear-gradient(to right,rgba(28, 218, 255, 0.2), rgba(0, 252, 168, 0.2) );
}

.container1 form{
  padding:20px;
  width:700px;
  background: #fff;
  /* box-shadow: 0 5px 10px rgba(0,0,0,.1); */
  border-top-right-radius: 10%;
  border-bottom-left-radius: 10%;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
}

.container1 form .row{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.container1 form .row .col{
  flex:1 1 250px;
}

.container1 form .row .col .title{
  font-size: 20px;
  color:#333;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.container1 form .row .col .inputBox{
  margin:15px 0;
}

.container1 form .row .col .inputBox span{
  margin-bottom: 10px;
  display: block;
}

.container1 form .row .col .inputBox input{
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
}

.container1 form .row .col .inputBox input:focus{
  border:1px solid #000;
}

.container1 form .row .col .flex{
  display: flex;
  gap:15px;
}

.container1 form .row .col .flex .inputBox{
  margin-top: 5px;
}

.container1 form .row .col .inputBox img{
  height: 34px;
  margin-top: 10px;
  filter: drop-shadow(0 0 1px #000);
}

.container1 form .submit-btn1{
  width: 100%;
  /* padding:12px; */
  border:none;
  font-size: 17px;
  background: #1CDAFF;
  color:#fff;
  margin-top: 5px;
  cursor: pointer;
  border-radius: 10px;
}

.container1 form .submit-btn:hover{
  background: #00FCA8;

}